[maxscale]
threads=###threads###
debug=allow-duplicate-servers
log_info=1

[A1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###

[A2]
type=server
address=###node_server_IP_2###
port=###node_server_port_2###

[A3]
type=server
address=###node_server_IP_3###
port=###node_server_port_3###

[B1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###

[B2]
type=server
address=###node_server_IP_2###
port=###node_server_port_2###

[B3]
type=server
address=###node_server_IP_3###
port=###node_server_port_3###

[A-Monitor]
type=monitor
module=mysqlmon
servers=A1,A2,A3
user=maxskysql
password=skysql
monitor_interval=1000
cooperative_monitoring_locks=majority_of_all

[B-Monitor]
type=monitor
module=mysqlmon
servers=B1,B2,B3
user=maxskysql
password=skysql
monitor_interval=1000
cooperative_monitoring_locks=majority_of_all

[Kafka-CDC-A]
type=service
router=kafkacdc
cluster=A-Monitor
user=maxskysql
password=skysql
bootstrap_servers=127.0.0.1:9092
topic=kafkacdc
server_id=123
cooperative_replication=true

[Kafka-CDC-B]
type=service
router=kafkacdc
cluster=B-Monitor
user=maxskysql
password=skysql
bootstrap_servers=127.0.0.1:9092
topic=kafkacdc
server_id=456
cooperative_replication=true
