[maxscale]
threads=###threads###
log_info=1

###server###

[Monitor]
type=monitor
module=mysqlmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=1000

[Kafka-Importer]
type=service
router=kafkaimporter
cluster=Monitor
user=maxskysql
password=skysql
bootstrap_servers=127.0.0.1:9092
topics=test.t1
