[maxscale]
threads=###threads###
log_info=1

###server###

[MySQL-Monitor]
type=monitor
module=mysqlmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=1000

[Kafka-CDC]
type=service
router=kafkacdc
servers=###server_line###
user=maxskysql
password=skysql
bootstrap_servers=127.0.0.1:4008
topic=kafkacdc
