[maxscale]
threads=3
syslog=false
users_refresh_time=0s

[server1]
type=server
address=127.0.0.1
port=3000
protocol=MariaDBBackend

[server2]
type=server
address=127.0.0.1
port=3001
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=maxuser
password=maxpwd
monitor_interval=5s

[RW-Split-Router]
type=service
router=readwritesplit
cluster=MariaDB-Monitor
user=maxuser
password=maxpwd

[Read-Connection-Router]
type=service
router=readconnroute
router_options=master
targets=server1,server2
user=maxuser
password=maxpwd
filters=QLA|Hint

[Hint]
type=filter
module=hintfilter

[QLA]
type=filter
module=qlafilter
log_type=unified
append=false
flush=true
filebase=/tmp/qla.log

[Read-Connection-Listener]
type=listener
service=Read-Connection-Router
protocol=MariaDBClient
port=4008

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MariaDBClient
port=4006
