[maxscale]
threads=###threads###
log_info=1

###server###

[Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=mariadbmon
password=mariadbmon

[Service]
type=service
router=readwritesplit
cluster=Monitor
user=maxservice
password=maxservice
filters=LDI

[Listener]
type=listener
service=Service
port=4006

[LDI]
type=filter
module=ldi
host=127.0.0.1
port=9000
use_http=true
protocol_version=1
