[maxscale]
threads=4
log_info=1
libdir=@CMAKE_INSTALL_PREFIX@/@MAXSCALE_LIBDIR@
logdir=@CMAKE_INSTALL_PREFIX@/log/maxscale/
datadir=@CMAKE_INSTALL_PREFIX@/lib/maxscale
cachedir=@CMAKE_INSTALL_PREFIX@/cache/maxscale
language=@CMAKE_INSTALL_PREFIX@/lib/maxscale/
piddir=@CMAKE_INSTALL_PREFIX@/run/maxscale/
admin_auth=false

[MySQL Monitor]
type=monitor
module=mysqlmon
servers=server1,server2,server3,server4
user=maxuser
passwd=maxpwd
monitor_interval=10000

[RW Split Router]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=maxuser
passwd=maxpwd
max_slave_connections=100%

[SchemaRouter Router]
type=service
router=schemarouter
servers=server1,server2,server3,server4
user=maxuser
passwd=maxpwd
auth_all_servers=1

[RW Split Hint Router]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=maxuser
passwd=maxpwd
max_slave_connections=100%
filters=Hint

[Read Connection Router]
type=service
router=readconnroute
router_options=master
servers=server1
user=maxuser
passwd=maxpwd

[Hint]
type=filter
module=hintfilter

[recurse3]
type=filter
module=tee
service=RW Split Router

[recurse2]
type=filter
module=tee
service=Read Connection Router

[recurse1]
type=filter
module=tee
service=RW Split Hint Router

[CLI]
type=service
router=cli

[Read Connection Listener]
type=listener
service=Read Connection Router
protocol=MySQLClient
port=4008

[RW Split Listener]
type=listener
service=RW Split Router
protocol=MySQLClient
port=4006

[SchemaRouter Listener]
type=listener
service=SchemaRouter Router
protocol=MySQLClient
port=4010

[RW Split Hint Listener]
type=listener
service=RW Split Hint Router
protocol=MySQLClient
port=4009

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default

[server1]
type=server
address=127.0.0.1
port=3000
protocol=MySQLBackend

[server2]
type=server
address=127.0.0.1
port=3001
protocol=MySQLBackend

[server3]
type=server
address=127.0.0.1
port=3002
protocol=MySQLBackend

[server4]
type=server
address=127.0.0.1
port=3003
protocol=MySQLBackend
