[maxscale]
threads=###threads###
log_info=1

[server1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###
protocol=MySQLBackend

[server2]
type=server
address=###node_server_IP_2###
port=###node_server_port_2###
protocol=MySQLBackend

[server3]
type=server
address=###node_server_IP_3###
port=###node_server_port_3###
protocol=MySQLBackend

[server4]
type=server
address=###node_server_IP_4###
port=###node_server_port_4###
protocol=MySQLBackend

[Monitor]
type=monitor
module=mysqlmon
servers=server1,server2,server3,server4
user=maxskysql
password=skysql
monitor_interval=1s

[Router]
type=service
router=readwritesplit
cluster=Monitor
user=maxskysql
password=skysql
causal_reads=local
causal_reads_timeout=1s

[Listener]
type=listener
service=Router
protocol=MySQLClient
port=4006
