[maxscale]
threads=1
log_warning=1

[MySQL-Monitor]
type=monitor
module=mysqlmon
servers=###server_line###
user=maxskysql
password=skysql

[RW-Split-Router]
type=service
router=readwritesplit
servers=###server_line###
user=maxskysql
password=skysql
idle_session_pool_time=2

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MySQLClient
port=4006

[server1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###
persistpoolmax=100
persistmaxtime=1000
max_connections=100

[server2]
type=server
address=###node_server_IP_2###
port=###node_server_port_2###
persistpoolmax=100
persistmaxtime=1000
max_connections=100

[server3]
type=server
address=###node_server_IP_3###
port=###node_server_port_3###
persistpoolmax=100
persistmaxtime=1000
max_connections=100

[server4]
type=server
address=###node_server_IP_4###
port=###node_server_port_4###
persistpoolmax=100
persistmaxtime=1000
max_connections=100

