[maxscale]
threads=4
admin_auth=false
log_info=1

[MySQL-Monitor]
type=monitor
module=mysqlmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=10000

[RW-Split-Router]
type=service
router=readwritesplit
servers=###server_line###
user=maxskysql
password=skysql

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MySQLClient
port=4006

###server###
