[maxscale]
threads=1
require_secure_transport=1
admin_secure_gui=false
admin_ssl_cert=###access_homedir###/certs/mxs.crt
admin_ssl_key=###access_homedir###/certs/mxs.key

[MariaDB-Monitor]
type=monitor
module=mysqlmon
servers=server1,server2
user=maxskysql
password=skysql

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1,server2
user=maxskysql
password=skysql

[RW-Split-Listener]
type=listener
service=RW-Split-Router
port=4006
ssl=true

[server1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###
ssl=true

[server2]
type=server
address=###node_server_IP_2###
port=###node_server_port_2###
ssl=true

[Kafka-Importer]
type=service
router=kafkaimporter
cluster=MariaDB-Monitor
user=maxskysql
password=skysql
bootstrap_servers=127.0.0.1:4008
topics=test.t1
kafka_ssl=true
