# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# log files (from testing etc.)
*.log

# "make depend" generated stuff
depend
depend.mk

# various auto-backup stuff
*~
*#
.#*
._*


# Vi swap files
.*.swp
/build/

# CMake directories
build/
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
*/*/*/CMakeFiles/*
*/*/*/*/CMakeFiles/*
Makefile
/.DS_Store
.DS_Store

# Netbeans Project files
nbproject/
/build/

CLion project files
/.idea

# RBCommons
.reviewboardrc
# vscode
.vscode

# Qt Creator project files
*.txt.user
*.pro
*.pro.user
*.pri
