#
# Example gateway.cnf configuration file
#
#
[gateway]
threads=1

[Test Service]
type=service
router=readconnroute
router_options=slave
servers=server1,server2,server3
user=massi
auth=massi

[server1]
type=server
address=127.0.0.1
port=3306
protocol=MySQLBackend
monitoruser=massi
monitorpw=massi

[server2]
type=server
address=127.0.0.1
port=3307
protocol=MySQLBackend
monitoruser=massi
monitorpw=massi

[server3]
type=server
address=127.0.0.1
port=3308
protocol=MySQLBackend
monitoruser=massi
monitorpw=massi

[Debug Service]
type=service
router=debugcli

[Debug Listener]
type=listener
service=Debug Service
protocol=telnetd
port=4442

[Test Listener]
type=listener
service=Test Service
protocol=MySQLClient
port=4006

[MySQL Monitor]
type=monitor
module=mysqlmon
servers=server1,server2,server3

[HTTPD Service]
type=service
router=testroute

[HTTPD Listener]
type=listener
service=HTTPD Service
protocol=HTTPD
port=6444
