Package: maxscale
Version: 0.7-1
Architecture: amd64
Maintainer: Timofey Turenko
Installed-Size: 26408
Depends: libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libmariadbd-dev, libssl1.0.0 (>= 1.0.0), libstdc++6 (>= 4.1.1)
Section: misc
Priority: optional
Description: MaxScale
 The SkySQL MaxScale is an intelligent proxy that allows forwarding of
 database statements to one or more database servers using complex rules,
 a semantic understanding of the database statements and the roles of
 the various servers within the backend cluster of databases.
