.DS_Store
node_modules
/dist
/gui

/tests/e2e/reports/
selenium-debug.log
chromedriver.log
geckodriver.log
report.*
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SSL certifcates
.certs