[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_names###
user=mariadbmon
password=mariadbmon
monitor_interval=2000ms
failcount=4
auto_failover=safe
auto_rejoin=true
replication_user=repl
replication_password=repl
backend_connect_timeout=5s
backend_read_timeout=5s
backend_write_timeout=5s

[RW-Split-Router]
type=service
router= readwritesplit
servers=###server_names###
user=maxskysql
password=skysql

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MySQLClient
port=4006

###server_definitions###
