[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=mariadbmon
password=shouldnotwork
monitor_interval=1s
replication_user=repl
replication_password=shouldnotwork
backend_connect_timeout=5s
backend_read_timeout=5s
backend_write_timeout=5s
ssh_user=###ssh_user###
ssh_keyfile=/tmp/sshkey.pem
ssh_check_host_key=false
ssh_timeout=6s
rebuild_port=4443
ssh_port=22
backup_storage_address=###node_server_IP_4###
backup_storage_path=/tmp/backups
failcount=20

###rwsplit_service###

###rwsplit_listener###

###server###
