[maxscale]
threads=###threads###

###mariadb_monitor###
ssh_user=###ssh_user###
ssh_keyfile=/tmp/sshkey.pem
ssh_check_host_key=false
ssh_timeout=6s
rebuild_port=4443

###rwsplit_service###

###rwsplit_listener###

###server###
