[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=mariadbmon
password=mariadbmon
monitor_interval=1s
replication_user=repl
replication_password=repl
backend_connect_timeout=3s
backend_read_timeout=3s
backend_write_timeout=3s
servers_no_promotion=server2,server3
auto_failover=yes
auto_rejoin=yes
failcount=3

###rwsplit_service###

###rwsplit_listener###

###server_definitions###
