[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=mariadbmon
password=mariadbmon
replication_user=repl
replication_password=repl
monitor_interval=1000ms
failcount=2

[RW-Split-Router]
type=service
router= readwritesplit
servers=###server_line###
user=maxservice
password=maxservice

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=mariadb
port=4006

###server###
