[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_names###
user=mariadbmon
password=mariadbmon
monitor_interval=1000ms
replication_user=repl
replication_password=repl
backend_connect_timeout=3s
backend_read_timeout=3s
backend_write_timeout=3s
switchover_timeout=5s

[RW-Split-Router]
type=service
router= readwritesplit
servers=###server_names###
user=maxservice
password=maxservice

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=mariadb
port=4006

###server_definitions###
