[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=maxskysql
password=skysql
monitor_interval=1500ms
auto_failover=true
auto_rejoin=true
failcount=4
cooperative_monitoring_locks=majority_of_running
backend_read_timeout=2s
backend_write_timeout=2s
backend_connect_timeout=2s

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1,server2
user=maxskysql
password=skysql

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MySQLClient
port=4006

###server_definitions###

