#
#The options for the consumer are:
#hostname	RabbitMQ hostname
#port		RabbitMQ port
#vhost		RabbitMQ virtual host
#user		RabbitMQ username
#passwd		RabbitMQ password
#queue		Name of the queue to use
#dbserver	SQL server name
#dbport		SQL server port
#dbname		Name of the databse to use
#dbuser		SQL server username
#dbpasswd	SQL server password
#logfile	Message log filename
#
[consumer]
hostname=127.0.0.1
port=5673
vhost=/
user=guest
passwd=guest
queue=q1
dbserver=127.0.0.1
dbport=3000
dbname=mqpairs
dbuser=maxuser
dbpasswd=maxpwd
#logfile=consumer.log