[maxscale]
threads=1
admin_auth=false
log_info=0
users_refresh_time=100s

###mariadb_monitor###

###rwsplit_service###

###server_definitions###

[RWSplit-Listener]
type=listener
service=RW-Split-Router
protocol=MariaDB
port=4006
authenticator=MariaDBAuth
authenticator_options=clear_pw_passthrough=true
ssl=false

[RWSplit-Listener-SSL]
type=listener
service=RW-Split-Router
protocol=MariaDB
port=4007
authenticator_options=clear_pw_passthrough=true
ssl=true
###mxs_cert_files###

[RWSplit-Service-1srv]
type=service
router=readwritesplit
user=maxservice
password=maxservice
servers=server1

[RWSplit-Listener-1srv]
type=listener
service=RWSplit-Service-1srv
protocol=MariaDB
port=4008
authenticator=MariaDBAuth
authenticator_options=clear_pw_passthrough=true
ssl=false

[RWSplit-Listener-SSL-1srv]
type=listener
service=RWSplit-Service-1srv
protocol=MariaDB
port=4009
authenticator_options=clear_pw_passthrough=true
ssl=true
###mxs_cert_files###
