[maxscale]
threads=1
admin_auth=false
log_info=1
users_refresh_time=0s

###mariadb_monitor###

###rwsplit_service###


[RWSplit-Listener-Mapped]
type=listener
service=RW-Split-Router
protocol=MariaDB
port=4006
authenticator=mariadbauth,ed25519auth
user_mapping_file=/tmp/ed25519_auth_user_map.json

###server_definitions###

[RWSplit-Listener-Sha256]
type=listener
service=RW-Split-Router
protocol=MariaDB
port=4007
authenticator=ed25519auth
authenticator_options=ed_mode=sha256
ssl=true
###mxs_cert_files###

[RWSplit-Listener-Sha256-NoSSL]
type=listener
service=RW-Split-Router
protocol=MariaDB
port=4008
authenticator=ed25519auth
authenticator_options=ed_mode=sha256,
 ed_rsa_privkey_path=/tmp/rsa_private_key.pem,
 ed_rsa_pubkey_path=/tmp/rsa_public_key.pem
