[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1
user=mariadbmon
password=mariadbmon
monitor_interval=1s
replication_user=repl
replication_password=repl
backend_connect_timeout=5s
backend_read_timeout=5s
backend_write_timeout=5s

[RWS-Router]
type=service
router=readwritesplit
servers=server1
user=maxservice
password=maxservice

[RWS-Listener]
type=listener
service=RWS-Router
port=4006
ssl=true

[server1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###
# Enable the following with backend version >= 11.4.1
ssl=0
ssl_verify_peer_certificate=0
ssl_verify_peer_host=0
