[maxscale]
threads=###threads###
log_info=1
users_refresh_time=0s

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers= server1, server2
user=maxskysql
password= skysql
monitor_interval=1000ms
failcount=1
replication_user=repl
replication_password=repl
backend_connect_timeout=5s
backend_read_timeout=5s
backend_write_timeout=5s

[RWSplit-Router]
type=service
router=readwritesplit
servers=server1, server2
user=maxskysql
password=skysql

[RWSplit-Listener]
type=listener
service=RWSplit-Router
protocol=MySQLClient
port=4006
authenticator=mysqlauth

[ListenerSKIPAUTH]
type=listener
service=RWSplit-Router
protocol=MySQLClient
port=4007
authenticator=mysqlauth
authenticator_options=skip_authentication=true

[ListenerNOMATCH]
type=listener
service=RWSplit-Router
protocol=MySQLClient
port=4008
authenticator=mysqlauth
authenticator_options=match_host=false,lower_case_table_names=1

[ListenerNOCASE]
type=listener
service=RWSplit-Router
protocol=MySQLClient
port=4009
authenticator=mysqlauth
authenticator_options=lower_case_table_names=2,log_password_mismatch=true

[server1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###

[server2]
type=server
address=###node_server_IP_2###
port=###node_server_port_2###


