[maxscale]
threads=###threads###
log_info=1

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=mariadbmon
password=mariadbmon
monitor_interval=1s

[RW-Split-Router]
type=service
router=readwritesplit
servers=###server_line###
user=maxservice
password=maxservice
transaction_replay=true
transaction_replay_timeout=300s

[RW-Split-Listener]
type=listener
service=RW-Split-Router
port=4006

###server###
