[maxscale]
threads=###threads###
log_info=1
users_refresh_time=0s

[MySQL-Monitor]
type=monitor
module=mysqlmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=1s

[RW-Split-Router]
type=service
router=readwritesplit
servers=###server_line###
user=maxskysql
password=skysql

[RW-Split-Listener-noSSL]
type=listener
service=RW-Split-Router
port=4006
ssl=false

[RW-Split-Listener-SSL]
type=listener
service=RW-Split-Router
port=4007
ssl=true
ssl_cert=/###access_homedir###/certs/server-cert.pem
ssl_key=/###access_homedir###/certs/server-key.pem
ssl_ca_cert=/###access_homedir###/certs/ca.pem

###server_definitions###
