[maxscale]
threads=###threads###
log_info=1
users_refresh_time=0

[server1]
type=server
address=###xpand_server_IP_1###
port=###xpand_server_port_1###

[Xpand-Monitor]
type=monitor
module=xpandmon
servers=server1
user=xpandmon
password=xpandmon
monitor_interval=2000
backend_connect_timeout=5
backend_read_timeout=5
backend_write_timeout=5

[RWSplit-Router]
type=service
router=readwritesplit
cluster=Xpand-Monitor
user=maxservice
password=maxservice
user_accounts_file=/tmp/xpand_mapped_auth_users.json

[RWSplit-Listener]
type=listener
service=RWSplit-Router
port=4006
authenticator=PAMAuth,mysqlauth
authenticator_options=pam_backend_mapping=mariadb,pam_mapped_pw_file=/tmp/xpand_mapped_auth_pwds.json

