.chartjs-tooltip {
    opacity: 1;
    z-index: 9999;
    background-color: #ffffff;
    border-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
    max-width: 500px;
    th,
    td {
        font-size: 12px;
        vertical-align: baseline;
    }
}
.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
}
.chartjs-tooltip--transform-left {
    transform: translate(-100%, 0);
}
.chartjs-tooltip--transform-right {
    transform: translate(0, 0);
}
.chartjs-tooltip--transform-center {
    transform: translate(-50%, 0);
}
.query-editor-chart-tooltip {
    td {
        &:first-child {
            padding-right: 16px;
        }
        &:last-child {
            word-break: break-all;
        }
    }
}
