[maxscale]
threads=###threads###
log_info=true

###server###

[mariadb-cluster]
type=monitor
module=mariadbmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=1000ms
auto_failover=true

[pinloki-service]
type=service
router=binlogrouter
user=maxskysql
password=skysql
cluster=mariadb-cluster
select_master=true
rpl_semi_sync_slave_enabled=true

[pinloki-listener]
type=listener
service=pinloki-service
protocol=mariadbclient
port=4006
