[maxscale]
threads=###threads###
key_manager=kmip
kmip.host=127.0.0.1
kmip.port=5696
kmip.ca=###access_homedir###/certs/ca.crt
kmip.cert=###access_homedir###/certs/mxs.crt
kmip.key=###access_homedir###/certs/mxs.key

###server###

[mariadb-cluster]
type=monitor
module=mariadbmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=1000ms
auto_failover=true

[pinloki-service]
type=service
router=binlogrouter
user=maxskysql
password=skysql
cluster=mariadb-cluster
encryption_key_id=replace-this
select_master=true

[pinloki-listener]
type=listener
service=pinloki-service
protocol=mariadbclient
port=4006
