[maxscale]
threads=###threads###

###server###

[Monitor1]
type=monitor
module=mysqlmon
servers=server1,server2
user=maxskysql
password=skysql

[Monitor2]
type=monitor
module=mysqlmon
servers=server3,server4
user=maxskysql
password=skysql

[RWS1]
type=service
router=readwritesplit
cluster=Monitor1
user=maxskysql
password=skysql

[RWS2]
type=service
router=readwritesplit
cluster=Monitor2
user=maxskysql
password=skysql

[Sharding]
type=service
router=schemarouter
targets=RWS1,RWS2
user=maxskysql
password=skysql
auth_all_servers=true
ignore_tables_regex=.*
refresh_interval=0s

[Sharding-Listener]
type=listener
service=Sharding
protocol=MySQLClient
port=4006
