[maxscale]
threads=###threads###
log_info=1

[Monitor-1]
type=monitor
module=mariadbmon
servers=server1,server2
user=maxskysql
password=skysql

[Monitor-2]
type=monitor
module=mariadbmon
servers=server3,server4
user=maxskysql
password=skysql

[RWS-1]
type=service
router=readwritesplit
user=maxskysql
password=skysql
cluster=Monitor-1

[RWS-2]
type=service
router=readwritesplit
user=maxskysql
password=skysql
cluster=Monitor-2

[Sharding-Router]
type=service
router=schemarouter
targets=RWS-1,RWS-2
user=maxskysql
password=skysql
auth_all_servers=1
ignore_tables_regex=.*
filters=Target-Selector

[Target-Selector]
type=filter
module=namedserverfilter
match01=/db1.t1/
target01=RWS-1
match02=/db2.t1/
target02=RWS-2

[Sharding-Listener]
type=listener
service=Sharding-Router
protocol=MySQLClient
port=4006

###server###
