[maxscale]
threads=###threads###

###server###

[MariaDB-Monitor]
type=monitor
module=mysqlmon
servers=###server_line###
user=maxskysql
password=skysql

[Sharding-router]
type=service
router=schemarouter
servers=###server_line###
user=maxskysql
password=skysql
auth_all_servers=true
ignore_tables_regex=.*
refresh_interval=1s

[Sharding-Listener]
type=listener
service=Sharding-router
protocol=MySQLClient
port=4006

