[maxscale]
log_info=1
threads=###threads###

###server###

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=maxskysql
password=skysql

[RWS]
type=service
router=readwritesplit
servers=###server_line###
user=maxskysql
password=skysql

[RWS-Listener]
type=listener
service=RWS
protocol=MariaDBClient
port=4006

[NoSQL-Listener]
type=listener
service=RWS
protocol=nosqlprotocol
nosqlprotocol.user=admin.nosql_admin
nosqlprotocol.password=nosql_password
nosqlprotocol.authentication_required=true
nosqlprotocol.authorization_enabled=true
nosqlprotocol.authentication_shared=true
nosqlprotocol.authentication_user=maxskysql
nosqlprotocol.authentication_password=skysql
port=4008
