#!/usr/bin/make -f
%:
	$(MAKE) ROOT_PATH=$(shell pwd) HOME=""  clean
	$(MAKE) ROOT_PATH=$(shell pwd) HOME=""  depend
	$(MAKE) ROOT_PATH=$(shell pwd) HOME="" 
	$(MAKE) DEST="$(shell pwd)/binaries" ROOT_PATH=$(shell pwd) HOME="" ERRMSG="/usr/share/mysql/english" EMBEDDED_LIB="$(mysql_config --variable=pkglibdir)" install
	dh $@
override_dh_usrlocal:
override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_install:
