$primary: #0e9bc0;
$accent: #2f99a3;

$anchor: #2d9cdb;
$text: #4f5051;
$small-text: #6c7c7b;
$text-subtle: #a3bac0;
$navigation: #424f62;
$code-color: #525a65;

$success: #7dd012;
$error: #eb5757;
$warning: #f59d34;
$info: #2d9cdb;
$alert: $error;
$notice: $code-color;
$debug: $accent;

$separator: #e8eef1;
$grayed-out: #a6a4a6;

$table-border: #e7eef1;
$tr-hovered-color: #f2fcff;
$selected-tr-color: #e3f5fb;

$deep-ocean: #003545;
$blue-azure: #0e6488;
$electric-ele: #abc74a;
