[maxscale]
threads=###threads###
config_sync_cluster=MariaDB-Monitor
config_sync_user=maxskysql
config_sync_password=skysql
config_sync_interval=1s

###server###

[MariaDB-Monitor]
type=monitor
module=mysqlmon
servers=###server_line###
user=maxskysql
password=skysql

[RW-Split-Router]
type=service
router=readwritesplit
servers=###server_line###
user=maxskysql
password=skysql

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MariaDBClient
port=4006
