[maxscale]
threads=###threads###
users_refresh_time=0s

[server1]
type=server
address=###node_server_IP_1###
port=###node_server_port_1###

[MariaDB-Monitor]
type=monitor
module=mysqlmon
servers=server1
user=maxskysql
password=skysql
monitor_interval=5s

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1
user=maxskysql
password=skysql

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MySQLClient
port=4006

[RW-Split-Listener-SSL]
type=listener
service=RW-Split-Router
protocol=MySQLClient
port=4007
ssl=true
ssl_cert=/###access_homedir###/certs/mxs.crt
ssl_key=/###access_homedir###/certs/mxs.key
ssl_ca_cert=/###access_homedir###/certs/ca.crt
