[maxscale]
threads=4

[xpand_000]
type=server
address=xpand_000
port=###xpand_server_port_1###

[xpand_001]
type=server
address=xpand_001
port=###xpand_server_port_2###

[xpand_002]
type=server
address=xpand_002
port=###xpand_server_port_3###

[xpand_003]
type=server
address=xpand_003
port=###xpand_server_port_3###

[Xpand-Monitor]
type=monitor
module=xpandmon
servers=xpand_000, xpand_001, xpand_002, xpand_003
user=xpandmon
password=xpandmon
dynamic_node_detection=false

[RWS]
cluster=Xpand-Monitor
password=skysql
router=readwritesplit
type=service
user=maxskysql

[RWS-Listener]
port=4006
service=RWS
type=listener
