[maxscale]
threads=###threads###

###xpand_server###

[Xpand-Monitor]
type=monitor
module=xpandmon
servers=###xpand_server_line###
user=xpandmon
password=xpandmon

[RWS]
type=service
router=readwritesplit
cluster=Xpand-Monitor
user=maxskysql
password=skysql
slave_selection_criteria=LEAST_GLOBAL_CONNECTIONS
max_slave_connections=1

[RWS-Listener]
type=listener
service=RWS
port=4006

