[maxscale]
threads=###threads###
log_info=1

###xpand_server###

[Xpand-Monitor]
type=monitor
module=xpandmon
servers=###xpand_server_line###
user=xpandmon
password=xpandmon
cluster_monitor_interval=5s

[RWS]
type=service
router=readwritesplit
cluster=Xpand-Monitor
user=maxskysql
password=skysql
slave_selection_criteria=LEAST_GLOBAL_CONNECTIONS

[RCR]
type=service
router=readconnroute
#router_options=running
cluster=Xpand-Monitor
user=maxskysql
password=skysql

[RWS-Listener]
type=listener
service=RWS
protocol=MySQLClient
port=4006

[RCR-Listener]
type=listener
service=RCR
protocol=MySQLClient
port=4008

