{
  "node_000" :
  {
        "hostname" : "node000",
        "box" : "centos_7_aws_large",
	"product" : {
      		"name": "${product}",
		"version": "${version}",
                "cnf_template" : "server1.cnf",
                "cnf_template_path": "${cnf_path}"
	}

  },

  "node_001" :
  {
        "hostname" : "node001",
        "box" : "centos_7_aws_large",
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server2.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_002" :
  {
        "hostname" : "node002",
        "box" : "centos_7_aws_large",
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server3.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_003" :
  {
        "hostname" : "node003",
        "box" : "centos_7_aws_large",
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server4.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },
  "node_004" :
  {
        "hostname" : "node004",
        "box" : "centos_7_aws_large",
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server5.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },
  "node_005" :
  {
        "hostname" : "node005",
        "box" : "centos_7_aws_large",
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server6.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },
  "node_006" :
  {
        "hostname" : "node006",
        "box" : "centos_7_aws_large",
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server7.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },
  "node_007" :
  {
        "hostname" : "node007",
        "box" : "centos_7_aws_large",
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server8.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_000" :
  {
        "hostname" : "galera000",
        "box" : "centos_7_aws",
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server1.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_001" :
  {
        "hostname" : "galera001",
        "box" : "centos_7_aws",
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server2.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_002" :
  {
        "hostname" : "galera002",
        "box" : "centos_7_aws",
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server3.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_003" :
  {
        "hostname" : "galera003",
        "box" : "centos_7_aws",
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server4.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "maxscale" :
  {
        "hostname" : "maxscale",
        "box" : "centos_7_aws_large",
        "product" : {
                "name" : "maxscale_ci",
                "version" : "${target}"
        }

  }
}
