{
  "node_000" :
  {
        "hostname" : "node000",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "REPL_BACKEND"
        ],
	"product" : {
      		"name": "${product}",
		"version": "${version}",
                "cnf_template" : "server1.cnf",
                "cnf_template_path": "${cnf_path}"
	}

  },

  "node_001" :
  {
        "hostname" : "node001",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server2.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_002" :
  {
        "hostname" : "node002",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server3.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_003" :
  {
        "hostname" : "node003",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server4.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_004" :
  {
        "hostname" : "node004",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server5.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_005" :
  {
        "hostname" : "node005",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server6.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_006" :
  {
        "hostname" : "node006",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server7.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_007" :
  {
        "hostname" : "node007",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server8.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_008" :
  {
        "hostname" : "node008",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server9.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_009" :
  {
        "hostname" : "node009",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server10.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_010" :
  {
        "hostname" : "node010",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server11.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_011" :
  {
        "hostname" : "node011",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server12.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_012" :
  {
        "hostname" : "node012",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server13.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_013" :
  {
        "hostname" : "node013",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server14.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_014" :
  {
        "hostname" : "node013",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server15.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_000" :
  {
        "hostname" : "galera000",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server1.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_001" :
  {
        "hostname" : "galera001",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server2.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_002" :
  {
        "hostname" : "galera002",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server3.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_003" :
  {
        "hostname" : "galera003",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "product" : {
                "name": "galera",
                "version": "${galera_version}",
                "cnf_template" : "galera_server4.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "maxscale_000" :
  {
        "hostname" : "maxscale",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "MAXSCALE"
        ],
        "product" : {
                 "name" : "maxscale_ci",
                "version" : "${target}"
        }

  },

  "maxscale_001" :
  {
        "hostname" : "maxscale2",
        "box" : "centos_7_aws_large",
        "memory_size" : "${vm_memory}",
        "labels" : [
                "SECOND_MAXSCALE"
        ],
        "product" : {
                "name" : "maxscale_ci",
                "version" : "${target}"
        }
  },

  "clustrix_000" :
  {
        "hostname" : "clustrix000",
        "box" : "centos_7_aws_large",
        "memory_size" : "16192",
        "labels" : [
                "CLUSTRIX_BACKEND"
        ]
  },

  "clustrix_001" :
  {
        "hostname" : "clustrix001",
        "box" : "centos_7_aws_large",
        "memory_size" : "16192",
        "labels" : [
                "CLUSTRIX_BACKEND"
        ]
  },

  "clustrix_002" :
  {
        "hostname" : "clustrix002",
        "box" : "centos_7_aws_large",
        "memory_size" : "16192",
        "labels" : [
                "CLUSTRIX_BACKEND"
        ]
  },

  "clustrix_003" :
  {
        "hostname" : "clustrix003",
        "memory_size" : "16192",
        "box" : "centos_7_aws_large",
        "labels" : [
                "CLUSTRIX_BACKEND"
        ]
  }
}
