.tab-navigation--btn-style.query-tab-nav {
    .tab-btn {
        border-left: none !important;
        border-top: none !important;
        border-right: 1px solid $table-border !important;
        border-bottom: 1px solid $table-border !important;
        .del-tab-btn {
            visibility: hidden;
        }
        &:hover {
            .del-tab-btn {
                visibility: visible;
            }
        }
    }
}
