.monaco-editor {
    .slider {
        border-radius: 4px;
        background: $grayed-out;
    }
    .editor-widget.suggest-widget .monaco-list-row {
        .contents {
            .details-label {
                color: $navigation;
                display: inline !important;
            }
        }
        &.focused {
            .contents {
                .details-label {
                    color: white;
                }
            }
        }
    }
}
