[maxscale]
threads=###threads###
log_warning=1

[NamedFilter]
type=filter
module=namedserverfilter
match01=twotargets
target01=server2,server3

match02=second server
target02=server2

match03=third server
target03=server3

match04=fourth server
target04=server4

match05=master server
target05=->master

match06=slave server
target06=->slave

match07=all servers
target07=->all

[MySQL-Monitor]
type=monitor
module=mysqlmon
servers=server1,server2,server3,server4
user=mariadbmon
password=mariadbmon
monitor_interval=1000

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=maxservice
password=maxservice
filters=NamedFilter

[RW-Split-Listener]
type=listener
service=RW-Split-Router
port=4006

###server###
