[maxscale]
threads=###threads###
log_info=1

###server###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=maxskysql
password=skysql

[RCR1]
type=service
router=readconnroute
servers=server1
user=maxskysql
password=skysql

[RCR2]
type=service
router=readconnroute
servers=server2
user=maxskysql
password=skysql

[RCR3]
type=service
router=readconnroute
servers=server3
user=maxskysql
password=skysql

[RCR4]
type=service
router=readconnroute
servers=server4
user=maxskysql
password=skysql

[nsfilter]
type=filter
module=namedserverfilter
match01=RCR1
target01=RCR1
match02=RCR2
target02=RCR2
match03=RCR3
target03=RCR3
match04=RCR4
target04=RCR4

[Combined]
type=service
router=schemarouter
targets=RCR1,RCR2,RCR3,RCR4
user=maxskysql
password=skysql
ignore_tables_regex=.*
filters=nsfilter

[Combined-Listener]
type=listener
service=Combined
port=4006
protocol=mariadb
