[maxscale]
threads=###threads###
log_warning=1

[namedserverfilter]
type=filter
module=namedserverfilter
match01=^SELECT
target01=server2,server3

[MySQL-Monitor]
type=monitor
module=mysqlmon
servers=server1,server2,server3,server4
user=maxskysql
password=skysql
monitor_interval=1000

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=maxskysql
password=skysql
filters=namedserverfilter

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MySQLClient
port=4006

###server###
