[maxscale]
threads=###threads###
log_info=1

###server###
###mariadb_monitor###

[PsReuse]
type=filter
module=psreuse

[RWS]
type=service
router=readwritesplit
cluster=MariaDB-Monitor
user=maxservice
password=maxservice
filters=PsReuse

[RWS-Listener]
type=listener
service=RWS
port=4006

[RCR]
type=service
router=readconnroute
cluster=MariaDB-Monitor
user=maxservice
password=maxservice
filters=PsReuse

[RCR-Listener]
type=listener
service=RCR
port=4008
