.monaco-editor {
  .slider {
    border-radius: 4px;
    background: colors.$grayed-out;
  }
  .editor-widget.suggest-widget .monaco-list-row {
    .contents {
      .details-label {
        color: colors.$navigation;
        display: inline !important;
      }
    }
    &.focused {
      .contents {
        .details-label {
          color: white;
        }
      }
    }
  }
}
