[maxscale]
threads=###threads###

###server###

[mariadb-cluster]
type=monitor
module=mariadbmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=5000

[pinloki-service]
type=service
router=pinloki
user=maxskysql
password=skysql
cluster=mariadb-cluster

[pinloki-listener]
type=listener
service=pinloki-service
protocol=mariadbclient
port=4006
