[maxscale]
threads=###threads###

###server###

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=maxskysql
password=skysql
monitor_interval=5000

[pinloki-service]
type=service
router=pinloki
user=maxskysql
password=skysql

[pinloki-listener]
type=listener
service=pinloki-service
protocol=mysqlclient
cluster=mariadb-cluster
port=4006
