{
  "node_000" :
  {
        "hostname" : "node000",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "REPL_BACKEND"
        ],
	"product" : {
      		"name": "${product}",
		"version": "${version}",
                "cnf_template" : "server1.cnf",
                "cnf_template_path": "${cnf_path}"
	}

  },

  "node_001" :
  {
        "hostname" : "node001",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server2.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_002" :
  {
        "hostname" : "node002",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server3.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_003" :
  {
        "hostname" : "node003",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server4.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_004" :
  {
        "hostname" : "node004",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server5.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_005" :
  {
        "hostname" : "node005",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server6.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_006" :
  {
        "hostname" : "node006",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server7.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_007" :
  {
        "hostname" : "node007",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server8.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_008" :
  {
        "hostname" : "node008",
        "box" : "${backend_box}",
        "cpu_count" : "8",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server9.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_009" :
  {
        "hostname" : "node009",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server10.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_010" :
  {
        "hostname" : "node010",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server11.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_011" :
  {
        "hostname" : "node011",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server12.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_012" :
  {
        "hostname" : "node012",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server13.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_013" :
  {
        "hostname" : "node013",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server14.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "node_014" :
  {
        "hostname" : "node013",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "BIG_REPL_BACKEND"
        ],
        "product" : {
                "name": "${product}",
                "version": "${version}",
                "cnf_template" : "server15.cnf",
                "cnf_template_path": "${cnf_path}"
        }
  },

  "galera_000" :
  {
        "hostname" : "galera000",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "products" : [
                {
                        "name": "${product}",
                        "version": "${version}"
                },
                {
                        "name": "galera_config",
                        "cnf_template" : "galera_server1.cnf"
                }
        ],
        "cnf_template_path": "${cnf_path}"
  },

  "galera_001" :
  {
        "hostname" : "galera001",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "products" : [
                {
                        "name": "${product}",
                        "version": "${version}"
                },
                {
                        "name": "galera_config",
                        "cnf_template" : "galera_server2.cnf"
                }
        ],
        "cnf_template_path": "${cnf_path}"
  },

  "galera_002" :
  {
        "hostname" : "galera002",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "products" : [
                {
                        "name": "${product}",
                        "version": "${version}"
                },
                {
                        "name": "galera_config",
                        "cnf_template" : "galera_server3.cnf"
                }
        ],
        "cnf_template_path": "${cnf_path}"
  },

  "galera_003" :
  {
        "hostname" : "galera003",
        "box" : "${backend_box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "GALERA_BACKEND"
        ],
        "products" : [
                {
                        "name": "${product}",
                        "version": "${version}"
                },
                {
                        "name": "galera_config",
                        "cnf_template" : "galera_server4.cnf"
                }
        ],
        "cnf_template_path": "${cnf_path}"
  },

  "maxscale_000" :
  {
        "hostname" : "maxscale",
        "box" : "${box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "MAXSCALE"
        ],
        "product" : {
                 "name" : "###maxscale_product###",
                "version" : "${target}"
        }

  },

  "maxscale_001" :
  {
        "hostname" : "maxscale2",
        "box" : "${box}",
        "memory_size" : "${vm_memory}",
        "cpu_count" : "8",
        "labels" : [
                "SECOND_MAXSCALE"
        ],
        "product" : {
                "name" : "###maxscale_product###",
                "version" : "${target}"
        }

  }
}
