rule union_regex deny regex '.*union.*'
rule dont_delete_everything deny no_where_clause on_operations delete|update at_times 12:00:00-18:00:00
users %@% match any rules union_regex dont_delete_everything